.menu {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: filter 0.1s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(0.6);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
