.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer a {
  font-size: 1.2rem;
  color: var(--text-muted);
  text-decoration: none;
  cursor: pointer;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin: 0.2rem 0;
}